@charset "utf-8";


@use 'foundation-sites/scss/foundation';
@use 'motion-ui/src/motion-ui';
@use 'settings';

// Global
@use "global/accessibility";
@use "global/colors";
@use "global/wp-admin";
@use "global/wp-overrides";
@use "global/gutenberg";

// Modules
@use "modules/navigation";
@use "modules/content";
@use "modules/footer";
@use "modules/editor-style";

// Components
@use "components/buttons";
@use "components/cards";
@use "components/featured-image";
@use "components/links";

// Templates
@use "templates/front";
@use "templates/kitchen-sink";


// Global styles
@include foundation.foundation-global-styles;
@include foundation.foundation-forms;
@include foundation.foundation-typography;

// Grids (choose one)
@include foundation.foundation-xy-grid-classes;
//@include foundation.foundation-grid;
//@include foundation.foundation-flex-grid;

// Generic components
@include foundation.foundation-button;
@include foundation.foundation-button-group;
@include foundation.foundation-close-button;
@include foundation.foundation-label;
@include foundation.foundation-progress-bar;
@include foundation.foundation-slider;
@include foundation.foundation-range-input;
@include foundation.foundation-switch;
@include foundation.foundation-table;

// Basic components
@include foundation.foundation-badge;
@include foundation.foundation-breadcrumbs;
@include foundation.foundation-callout;
@include foundation.foundation-card;
@include foundation.foundation-dropdown;
@include foundation.foundation-pagination;
@include foundation.foundation-tooltip;

// Containers
@include foundation.foundation-accordion;
@include foundation.foundation-media-object;
@include foundation.foundation-orbit;
@include foundation.foundation-responsive-embed;
@include foundation.foundation-tabs;
@include foundation.foundation-thumbnail;

// Menu-based containers
@include foundation.foundation-menu;
@include foundation.foundation-menu-icon;
@include foundation.foundation-accordion-menu;
@include foundation.foundation-drilldown-menu;
@include foundation.foundation-dropdown-menu;

// Layout components
@include foundation.foundation-off-canvas;
@include foundation.foundation-reveal;
@include foundation.foundation-sticky;
@include foundation.foundation-title-bar;
@include foundation.foundation-top-bar;


// Helpers
// @include foundation.foundation-float-classes;
@include foundation.foundation-flex-classes;
@include foundation.foundation-visibility-classes;
// @include foundation.foundation-prototype-classes;

// Motion UI
@include motion-ui.motion-ui-transitions;
@include motion-ui.motion-ui-animations;

/*
  My custom styles:
  Add your scss files below to structure your project styles
*/
