@charset "utf-8";

/*!
 * Gutenberg Editor Styles
 */

/** === Includes === */

@use 'foundation-sites/scss/foundation';
@use 'settings';

@include foundation.foundation-typography;
@include foundation.foundation-button;
@include foundation.foundation-table;


/** === Content Width === */
.wp-block {
	width: calc(100vw - (2px * 10));
	@each $breakpoint, $size in settings.$grid-margin-gutters {

		@include foundation.breakpoint($breakpoint) {
			width: calc(100vw - ($size));
		}

	}
}

/** === Base Typography === */
body {
	font-size: settings.$global-font-size;
	font-family: settings.$body-font-family;
	color: settings.$body-font-color;
}

/** === Post Title === */
.editor-post-title__block .editor-post-title__input{
  @extend h1;
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling to button in editor
	.wp-block-button__link {
		@extend .button;
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link{
		@extend .hollow;
	}

	// set transparent background to block for outline button
	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
		background: transparent;
	}
}

/** === File === */
.wp-block-file__button{
	@include foundation.button();
}

/** === Pullquote === */
.wp-block-paragraph.has-background{
	padding: foundation.rem-calc(20px 30px);
}

/** === Table === */
.wp-block-table td{
	border: none;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid{
	list-style: none;
}
