$dark-nav-color: #2C3840;

$hyper-gear-blue: #092238;
$hyper-gear-orange: #F15622;
$hyper-gear-grey: #222222;

$hyper-red: #C52026;
$hyper-orange: #F15623;
$hyper-green: #049655;
$hyper-blue: #0B67B2;
$hyper-purple: #9B3092;
