// Fix the issue where the WP admin-bar overlaps the mobile menu
#wpadminbar {
  position: fixed !important;
}

// Make sure that the WP admin-bar does not overlap Foundation components
html.admin-bar {
  height: calc(100% - rem-calc(32));


  // Offset sticky top bar
  &.topbar, &.offcanvas {
    .site-header.sticky.is-stuck {
      margin-top: rem-calc(32) !important;
    }
  }


  // Offset mobile off-canvas menu
  &.offcanvas {
    .off-canvas.is-open {
      top: rem-calc(46);
      @include breakpoint(783) {
        top: rem-calc(32);
      }
    }
  }
}

