@use 'foundation-sites/scss/foundation';

.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  @include foundation.xy-grid;
  @include foundation.xy-gutters($negative: true);
  @for $i from 1 through 9 {
    &.gallery-columns-#{$i} {
      @include foundation.xy-grid-layout($n: 2, $selector: '.gallery-item', $output: (base size gutters));
    }
    @include foundation.breakpoint(medium){
      &.gallery-columns-#{$i} {
        @include foundation.xy-grid-layout($n: 4, $selector: '.gallery-item', $gutters: (small: 30px), $output: (base size gutters));
      }
    }
    @include foundation.breakpoint(large) {
      &.gallery-columns-#{$i} {
        @include foundation.xy-grid-layout($n: $i, $selector: '.gallery-item', $gutters: (small: 30px), $output: (base size gutters));
      }
    }
  }
  .gallery-icon > a {
    @include foundation.thumbnail;
    @include foundation.thumbnail-link;
  }
  .gallery-icon > img {
    @include foundation.thumbnail;
  }
}
