@use 'foundation-sites/scss/foundation';

// Fix the issue where the WP admin-bar overlaps the mobile menu
#wpadminbar {
  position: fixed !important;
}

// Make sure that the WP admin-bar does not overlap Foundation components
body.admin-bar {
  // Offset sticky top bar
  &.f-topbar-fixed {
    .sticky.fixed {
      margin-top: foundation.rem-calc(32);
    }
  }
  // Offset mobile off-canvas menu
  &.offcanvas {
    .off-canvas.is-open {
      top: foundation.rem-calc(46);
      @include foundation.breakpoint(783) {
        top: foundation.rem-calc(32);
      }
    }
  }
}
