@use 'foundation-sites/scss/foundation';

.cards-container {

  @include foundation.xy-grid;

  .card {
    @include foundation.breakpoint(small) {
      @include foundation.xy-cell(12);

      .card-content {
        padding: 1rem;
      }

    }

    @include foundation.breakpoint(medium) {
      @include foundation.xy-cell($size: 1 of 3, $gutters: 0.7rem, $output: (base size gutters));

    }

  }
}
