.countdown {
  h2 {
    text-transform: uppercase;
    text-align: center;
  }

  h4 {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
  }
}
