@use 'foundation-sites/scss/foundation';

.featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: foundation.rem-calc(100);

  @include foundation.breakpoint(medium) {
    height:  foundation.rem-calc(200);
  }

  @include foundation.breakpoint(xlarge) {
    height:  foundation.rem-calc(400);
  }
}
