@use 'foundation-sites/scss/foundation';
@use "../components/dividers";

// Page header
.front-hero {
  .marketing {
    @include foundation.xy-grid-container(55rem);
    @include foundation.xy-grid;
  }

  @include foundation.breakpoint(small) {
    background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
    background-size: cover;
    padding: foundation.rem-calc(65%) 0;
    margin: 0 0 foundation.rem-calc(32);
    height: auto;
    position: relative;
    text-align: left;
  }

  @include foundation.breakpoint(medium) {
    background: url('../images/demo/hero-bg-foundation-6-large.svg') bottom center;
    background-size: cover;
    height: foundation.rem-calc(685);
    margin: 0 0 foundation.rem-calc(72);
  }

  .watch {
    @include foundation.breakpoint(small) {
      @include foundation.xy-cell(7);
    }

    @include foundation.breakpoint(medium) {
      @include foundation.xy-cell(12);
    }

    a {
      color: #B4C9D1;
      cursor: pointer;
      font-weight: 400;
      margin-right: foundation.rem-calc(20);
    }

    a:hover {
      color: #fff;
    }

    #stargazers {
      :before {
        content: "\f09b";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: foundation.rem-calc(8);
      }
    }

    #twitter {
      :before {
        content: "\f099";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: foundation.rem-calc(8);
      }
    }

  }

  .tagline {
    @include foundation.breakpoint(small) {
      @include foundation.xy-cell(8);
    }

    @include foundation.breakpoint(medium) {
      @include foundation.xy-cell(5);
      padding-top: 6rem;
    }
  }

  h1 {
    color: #fff;
    font-weight: 500;

    @include foundation.breakpoint(small) {
      font-size: 2.2rem;
    }

    @include foundation.breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: foundation.rem-calc(20);
  }
}

// Intro
.intro {
  @include foundation.xy-grid-container;
  @include foundation.xy-grid;

  .fp-intro {
    @include foundation.breakpoint(small) {
      @include foundation.xy-cell(12);
    }

    @include foundation.breakpoint(medium) {
      @include foundation.xy-cell(10);
      @include foundation.xy-cell-offset(1);

      h2 {
        font-weight: 300;
        margin-bottom: 1.5rem;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
  }
}

// Section divider
.section-divider {
  @include foundation.xy-grid-container;
  @include foundation.xy-grid;

  hr {
    @include foundation.xy-cell(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}

// Benefits
.benefits {
  @include foundation.xy-grid-container;
  @include foundation.xy-grid;
  text-align: center;

  header {
    @include foundation.xy-cell(12);

    h2 {
      font-weight: 300;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  .semantic,
  .responsive,
  .customizable,
  .professional {
    @include foundation.breakpoint(small) {
      @include foundation.xy-cell(12);
    }

    @include foundation.breakpoint(medium) {
      @include foundation.xy-cell(3);
    }

    img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto;
    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
    }

    p {
      font-size: 0.9375rem;
    }
  }

  .why-foundation {
    @include foundation.xy-cell(12);
    margin-top: 4rem;
  }
}
