@use 'foundation-sites/scss/foundation';

.main-container {
  @include foundation.xy-grid-container;
}

.main-grid {
  @include foundation.xy-grid();
  margin-top: 1rem;

  @include foundation.breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include foundation.breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include foundation.breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include foundation.xy-cell(12);
  }

  // Default template
  .main-content {
    @include foundation.breakpoint(small) {
      @include foundation.xy-cell(12);
    }

    @include foundation.breakpoint(medium) {
      @include foundation.xy-cell(8);
    }
  }

  .sidebar {
    @include foundation.breakpoint(small) {
      @include foundation.xy-cell(12);
    }

    @include foundation.breakpoint(medium) {
      @include foundation.xy-cell(4);
      margin-top: 1rem;
    }

  }
}
