@use 'foundation-sites/scss/foundation';

body#tinymce{
  height: auto; // Fix editor style bug
  max-width: foundation.$grid-row-width; // Give the editor a max-width
  padding: foundation.rem-calc(20) !important;
}
