@use 'sass:color';

.footer-container {
  border-top: 1px solid $dark-gray;
  margin-top: 2rem;
  background-color: color.scale($medium-gray, $lightness: -50%);
  color: $white;

  a {
    color: $white;
  }

  .footer-grid-container {
    @include xy-grid-container;

    .footer-grid {
      @include xy-grid;
      padding: 2rem 0;

      section {
        @include xy-cell();
        @include breakpoint(large) {
          @include xy-cell(auto);
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}


.sub-footer {
  padding: 1rem;
  background-color: color.scale($dark-gray, $lightness: -50%);
  color: $white;

  .grid-x {
    gap: 1rem;
  }

  a {
    color: $white;
  }

  h6 {
    margin-bottom: 0;
    font-weight: lighter;
    line-height: 1;
  }
}
