@use 'foundation-sites/scss/foundation';

.footer-container {
  @include foundation.xy-grid-container;
  border-top: 1px solid foundation.$medium-gray;
  margin-top: foundation.rem-calc(60);
}

.footer-grid {
  @include foundation.xy-grid;
  padding: foundation.rem-calc(30) 0;

  section {
    @include foundation.xy-cell();
    @include foundation.breakpoint(large) {
      @include foundation.xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
