@use 'foundation-sites/scss/foundation';

// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include foundation.hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include foundation.show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include foundation.clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
